/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: aliceblue;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    text-align: center;
}

.log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}

    .log:hover {
        color: white;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        background-color: rgba(104, 85, 224, 1);
    }

#navbar navbar-inverse navbar-fixed-top {
    color : rgb(70, 67, 203, 255);
}

.menu-lateral {
    width: 300px;
    height: 100%;
    background-color: rgb(70, 67, 203, 255);
    padding: 40px 0 40px 1%;
}

<style >
.custom-li-style {
    line-height: 20px !important;
}

nav.menu-lateral {
    width: 100px;
    height: 100%;
    background-color: rgb(70, 67, 203, 255);
    padding: 40px 0 40px 1%;
    position: fixed;
    left: 0;
    top: 20px;
    box-shadow: 3px 0 0 #72a8d5;
    position: fixed;
    overflow: hidden;
}

    nav.menu-lateral:hover {
        width: 300px;
        transition: 0.3s;
    }

.btn-expandir {
    width: 100%;
    padding-left: 40px;
}

    .btn-expandir > i {
        color: #ffff;
        font-size: 35px;
        cursor: pointer;
    }

ul {
    height: 100%;
    list-style-type: none;
}

    ul li.item-menu a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        padding: 12px 4%;
        display: flex;
        margin-bottom: 10px;
        line-height: 30px;
    }

        ul li.item-menu a .txt-link {
            margin-left: 15px;
        }

        ul li.item-menu a .icon > i {
            font-size: 30px;
            margin-right: 10px;
        }

    ul li.item-menu {
        transition: 0.5s;
        margin-right: 20px;
    }

        ul li.item-menu:hover {
            background: #72a8d5
        }


</style >